.grid-container {
    max-width: 360px;
    padding: 10px;
    margin: auto;
}

.book-item {
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3;
    margin: 20px;
}

.book-item h1{
    grid-row: 1 / 2;

}

.book-item p{
    margin: 0;
    grid-row: 2 / 3;
}

.book-item form {
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

button {
    all: unset;
    background-color: #5c80bc;
    color: #cdd1c4;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

button:hover {
    cursor: pointer;
    box-shadow: 2px 1px 5px #9fa297;
}

input {
    border-radius: 10px;
    margin: 0 10px;
}

.reserved {
    background-color: #4d5061;
}

.pagination {
    margin: 10px;
    gap: 5px;
    flex-direction: row !important;
    color:#5c80bc;
}